<div class="col-md-auto">
    <table id="blackBoard" class="board">
        <tbody>
        {{range .LeftArray}}
        <tr>
            <td>{{.}}</td>
            {{if eq . ""}}
                {{range $.TopArray}}<td>{{.}}</td>{{end}}
            {{else}}
                {{range $.TopArray}}<td></td>{{end}}
            {{end}}
        </tr>
        {{end}}
        </tbody>
    </table>
</div>
<div class="col col-sm-2"></div>
<div class="col-md-auto">
    <table id="whiteBoard" class="board">
        <tbody>
        {{range .LeftArray}}
            <tr>
                <td>{{.}}</td>
                {{if eq . ""}}
                    {{range $.TopArray}}<td>{{.}}</td>{{end}}
                {{else}}
                    {{range $.TopArray}}<td></td>{{end}}
                {{end}}
            </tr>
        {{end}}
        </tbody>
    </table>
</div>